<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>create-todo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="ionicForm" (ngSubmit)="submit()">
    <div class="form-input">
      <ion-label position="floating">Content</ion-label>
      <ion-input formControlName="content" type="text"></ion-input>
    </div>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="primary" expand="block">
          Submit
        </ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
